header{
    position: relative;
}
.pages-top{
    position: absolute;
    width: 100%;
 top:0;
 .pages-wrapper{
    width: 100%;
    height: 350px;
    @include mediaM{
        height: 280px;
    }

    // height: 260px;
    img{
        height: 350px;
        width: 100%;
        object-fit: cover;
        @include mediaM{
            height: 280px;
        }

    }

 }


}
.pages-ttl{
    margin-top: 100px;
    @include mediaM{
        margin-top: 210px;
    }
}
.tp-concept-section{
    padding-top: 120px;
}

  .concept-flex{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    @include mediaM{
      flex-direction: column-reverse;
      align-items: center;
      gap: 50px;
    }

    .concept-ttl{
        display: flex;
        justify-content: end;
        align-items: top;
        @include mediaM{
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }
    
        h2{
            font-size: 50px;
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;color: $purple;
            @include mediaM{
              font-size: 28px;
             
              writing-mode: horizontal-tb;
              writing-mode: unset;
            }
        }
            
    }
    .point-ttl{
        font-size: 24px;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;color: $purple;
        position: relative;
        margin-left: 20px;
    
        @include mediaM{
            font-size:18px;
            writing-mode: horizontal-tb;
            writing-mode: unset;
            margin-left: 0;
        
        }
    
    }
    
    .number{
        position: relative;
        margin-top: 20px;
        margin-left: 20px;
      }
     .number::after{
       content:"";
       background: white;
       border-radius: 70% 50% 70% 60% / 40% 80% 60% 70%;
       width: 50px;
       height: 50px;
       position: absolute;
       left: -8px;
       top: -10px;
       z-index: -1;
       @include mediaM{
        left: -12px;
       }
      
      }
    .concept-img{
        width: 70%;
        position: relative;
        @include mediaM{
            width: 100%;
        }
        .astomore-img1{
     position: absolute;
     width: 40%;
     right: 30px;
     top: -20px;
            img{
            width: 100%;

            }
         
        }
        .astomore-img2{

            position: relative;
            z-index: -1;
            img{
                width: 70%;
            }
        }
        .furukawa-img2{
            position: relative;
            z-index: -1;
            img{
                width: 70%;
            }

        }
        .astomore-img2:after{
            content: "";
            background-image: url(../img/pot.png);
            background-repeat: no-repeat;
            background-size: contain;

            width: 130px;
            height: 120px;
            position: absolute;
            bottom: 60px;
            right: 300px;
            @include mediaM{
                right: 60px;
                width: 80px;
                height: 70px;
                bottom: 40px;
            }
        }

    }
    .concept-text{
        width: 30%;
        @include mediaM{
            width: 100%;
        }
    }
  }
//   .concept-flex{
//     position: relative;
//   }

  .concept-exp{

margin-top: -120px;
    width: 420px;
right: 200px;
margin-right: 140px;
@include mediaM{
    width: 100%;
    margin-top: 0;
    margin-right: 0;
}
  }

.concept1-text{
    width: 100%;
    display: flex;
    justify-content: end;
  

}

.concept-container{
   margin-bottom: 120px;
   @include mediaM{
    margin-bottom: 60px;
   }

   
}
.concept-flex-reverse{

    display: flex;
    justify-content: space-between;
    gap: 20px;
    @include mediaM{
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }

    .concept-ttl{
        display: flex;
        justify-content: start;
        align-items: top;
        @include mediaM{
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            gap: 40px;
        }
    
        h2{
            font-size: 50px;
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;color: $purple;
            @include mediaM{
              font-size: 28px;
             
              writing-mode: horizontal-tb;
              writing-mode: unset;
            }
        }
            
    }
    .point-ttl{
        font-size: 24px;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;color: $purple;
        position: relative;
        margin-left: 20px;
    
        @include mediaM{
            font-size:18px;
            writing-mode: horizontal-tb;
            writing-mode: unset;
            margin-left: 0;
        
        }
    
    }
    
    .number{
        position: relative;
        margin-top: 20px;
        margin-left: 20px;
      }
     .number::after{
       content:"";
       background: white;
       border-radius: 70% 50% 70% 60% / 40% 80% 60% 70%;
       width: 50px;
       height: 50px;
       position: absolute;
       left: -8px;
       top: -10px;
       z-index: -1;
       @include mediaM{
        left: -12px;
       }
      
      }
    .concept-img{
        width: 100%;
        position: relative;
        // position: relative;
        // display: flex;
        // justify-content: end;
        @include mediaM{
            width: 70%;
        }
        .yuri-img1{
            display: flex;
            justify-content: end;
            position: relative;
            img{
            width: 70%;
            @include mediaM{
                width: 100%;
            }

            }
         
        }
        .yuri-img2{
            position: absolute;
            bottom: 0px;
            left: -20px;
            width: 100%;

         
            img{
                width: 30%;
                @include mediaM{
                    width: 50%;
                }
            }
        }
        .yuri-img1:after{
            content: "";
            background-image: url(../img/flower-pot.png);
            background-repeat: no-repeat;
            background-size: contain;

            width: 130px;
            height: 120px;
            position: absolute;
            bottom: 20px;
            right: 400px;
            @include mediaM{
                right: 60px;
                width: 80px;
                height: 70px;
                bottom: 10px;
            }
        }

    }


}
.concept2-text{

    width: 100%;
    @include mediaM{
        margin-top: 30px;
        width: 100%;
    }
}
.concept2-exp{

    width: 100%;

@include mediaM{
    width: 100%;
    margin-top: 0;
    margin-right: 0;
}
}


/////古川先生

.furukawasensei-section{
padding-bottom: 120px;
    .fukidashi-ttl{
        background-image: url(../img/fukudashi.png);
        width: 340px;
        height: 104px;

        display: flex;
        align-items:center;
        justify-content: center;
        @include mediaM{
            width: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

        }

        h4{
            font-size: 24px;
            @include mediaM{
                font-size: 18px;
            }

        }
     
    }

    .furukawasensei-flex{
        margin-top: 40px;
        display: flex;
        gap: 70px;
        @include mediaM{
            flex-direction: column;
            align-items: center;
            gap: 30px;

        }
        .book-img{
            width: 30%;
            @include mediaM{
                width: 60%;
            }
            img{
                width: 100%;
            }
        }
        .book-exp{
            width: 70%;
            @include mediaM{
                width: 100%;
            }

            .book-text{
                line-height: 24px;
                margin-bottom: 30px
            }

        }
        .book-link{
            margin-bottom: 14px;
            display: flex;
            align-items: center;
        }
  
        
    }
    .books-list{
        li{
        a{
            color:$black;
            font-family: $text;
        }
    }
    }
}


//////館内
.wave-up-bg{
    background-image: url(../img/up-wave-white.png);
    width: 100%;
    height: 140px;

    background-repeat: no-repeat;
    background-size: cover;
    @include mediaM{
        background-position: center;
        height: 100px;
    }
}
.wataya-hall-section{
    background-image: url(../img/white-bg.png);

    background-size: cover;
    background-repeat: no-repeat;
  

    .hall-text{
        text-align: center;
        margin-top: 40px;
        @include mediaM{
            margin-top: 30px;
        }
        p{
            font-family: $text;
            font-size: 16px;
        }
    }
    .hall-img-list-wrapper{
        margin-top: 90px;
        @include mediaM{
            margin-top: 50px;
        }
        .hall-img-list{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 18px;
        

            li{
                width: calc((100% - 54px)/ 4);
                margin-bottom: 40px;

                @include mediaM{
                    width: calc((100% - 36px)/ 2);

                }
                @include mediaM{
                    margin-bottom: 30px;
                }
                position: relative;
                img{
                    width: 100%;
                    border-radius: 20px;
                    @include mediaS{
                        border-radius: 14px;
                    }
                 
                }
            }

            .tag-verticle{
                p{
                    padding-left: 12px;
                    padding-right: 12px;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    background-color: $black-dark;
                   color:white;
                   display: inline-block;
                  border-radius: 10px;
                  position: absolute;
                  right: 10px;
                  top: -20px;
                  -ms-writing-mode: tb-rl;
                  writing-mode: vertical-rl;
                letter-spacing: 6px;
                @include mediaM{
                    font-size: 14px;
                }
                @include mediaM{
                    padding-left: 6px;
                    padding-right: 5px;

                }

                  
                }
            }

        }
    }


}

.wave-bottom-bg{
    background-image: url(../img/down-wave-white.png);
    width: 100%;
    height: 180px;

    background-repeat: no-repeat;
    background-size: cover;

    z-index: 10;
    @include mediaM{
        background-position: center;
        height: 100px;
    }
}

.access-section{
    .access-container{
        .area{
            .area-ttl{
                position: relative;
                margin-top: 100px;
                @include mediaM{
                    margin-top: 60px;
                }
                
                .font-up{
                 

                    font-size: 32px;
                    color: $purple;
                 margin-bottom: 10px;
             position: absolute;
             top: -9px;
             left: 0;

                }
                .font-down{
                    position: absolute;
                    top:-6;
                    left: 40px;
                    font-size: 32px;
                    color: $purple;
                    @include mediaM{
                        font-size: 20px;
                    }
                }
                padding-left: 80px;
                font-size: 32px;
                @include mediaM{
                    font-size: 20px;
                }


            }
        }
    }
    .area-access-img{
        width: 100%;
        img{
            width: 100%;
        }
    }

    .bus-container{
        margin-top: 30px;
        .bus-flex{
            display: flex;
            align-items: end;
            justify-content: center;
            gap: 30px;

            .bus-img{
                width: 240px;
                img{
                    width: 100%;
                }
            }
        }
        .bus-text{
            h5{
                font-size: 34px;
                color:$purple;
                @include mediaM{
                    font-size: 20px;
                }
            }
        }
    }
}

/////地図

.map-section{

    .map-wrapper{
        display: flex;
        justify-content: center;
        .map-img{
            padding-bottom: 130px;
            width: 80%;
            @include mediaM{
                width: 100%;
            }
            iframe{
                border-radius: 20px;
            }
        }
    
    }
    
}
