.contact-section{
    padding-bottom: 200px;
    background-image: url(../img/feather.png),url(../img/line.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 300px, 500px;
    background-position: 1000px -10px, 400px 300px;


    .contact-box{
        margin-top: 40px;
        font-family: $text;
        display: flex;
        justify-content: center;
     

        table{
            tr{
                display: flex;
                justify-content: start;
                th{
                   width: 40%;
                }
                td{
                    width: 60%;
                }
            }
        }
    }

}

.wp-block-contact-form-7-contact-form-selector{
    width:80% !important;
    @include mediaM{
        width: 100% !important;
    }
}
.wpcf7{
    width: 100% !important;
}
.wpcf7-form{
    width: 100% !important;

}
.contact__form{
    width: 90%!important;
    margin: 0 auto;
    tr{
        display: flex;
        justify-content: start;
        gap: 20px;
    }

    th{
        font-weight:500;
        width: 30%;
        text-align-last: left;
    }
    td{
        width: 70%;
    }
    input{
        margin-bottom: 14px !important;
    }
}

.wpcf7-form-control-wrap{
    width: 100% !important;
    input{
        width: 100%;
    
   border: none !important;
    padding: 10px;
    border-radius: 8px;
    }
   textarea{
    width: 100% !important;
    border: none !important;
    border-radius: 8px;

   }
}

// .contact__submit{
//     margin-top: 40px;
//     display: flex;
//     justify-content: center;
//     .wpcf7-submit{
//         color:$black;
//         font-size: 16px;
   

//         padding-left: 40px;
//         padding-top: 10px;
//         padding-bottom: 10px;
//         padding-right:40px ;
//         background-color:$yellow;
//         display: inline-block;
//         position: relative;
//     border: none !important;

//     }

// }


.contact__submit{
    display: flex;
justify-content: center;
    margin-top: 60px;
  p{
    display: flex;
    gap: 20px;
  }
  
  }
  .wpcf7-submit{
    background-image: url(../img/button-bg.png);
    background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none !important;
background-color: unset !important;
  padding-top: 30px;
  font-family: $default;
  color:white;
  padding-bottom: 30px;
  font-size: 18px;
  padding-left: 50px;
  padding-right: 50px;
  
  
  
  
  
  }
.wpcf7-checkbox{
display: flex;
flex-direction: column;
align-items: start;
margin-bottom: 20px;
label{
    display: flex;

    input{
        width:10px !important;text-align: left;
    }
}

}
.wpcf7-previous{
    background-image: url(../img/prev-bg.png);
    background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none !important;
background-color: unset !important;
  padding-top: 30px;
  font-family: $default;
  color:white;
  padding-bottom: 30px;
  font-size: 18px;
  padding-left: 50px;
  padding-right: 50px;

}
